<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>接口系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="author" content="lock">
<link rel="shortcut icon" href="/views/404/img/favicon.ico" type="image/png">
<link href="/views/404/css/style.css" rel="stylesheet">
<link href="/views/404/css/style-responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="/views/404/js/html5shiv.js"></script>
    <script src="/views/404/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="container">
      <section class="error-wrapper text-center">
        <h1><img alt="" src="/views/404/img/404-error.png"></h1>
        <h2>404页面</h2>
        <h3>你访问的页面已经飞到月球去了！</h3>
    </div>
  </div>
</div>
</body>
</html>